@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CustomResponseDto<IList<UserDto>>
@{
    ViewData["Title"] = "Users";
}


@switch (Model.Status)
{
    case ResponseStatus.Error:
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
        break;
    case ResponseStatus.Info:
        <div class="alert alert-info" role="alert">
            @Model.Message
        </div>
        break;
    default:
        <div></div>
        break;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Users</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-area="Admin" asp-controller="Home">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
    </ol>

    <div class="card mb-4">

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var user in Model.Data)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Address</td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/datatables-simple-demo.js"></script>
}